*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
#intro{
  background-image: url(./images/bg.jpg)  ;
  width: 100%;
  
background-position: center;
 background-size: cover;
  
}
@font-face {
  font-family: "Aurora"; 
  src: url('./Aurora.otf') format('.otf'); 

}

.video{
  background-image: url(./images/vid1.mp4);
}
.Aurora {
  font-family: "Aurora",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: "Caviar Dreams"; 
  src: url('./Caviar.ttf') format('truetype'); 

}
.Caviar {
  font-weight: 700 !important;
  font-family: "Caviar Dreams",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

@font-face {
  font-family: "Mangiola"; 
  src: url('./Mangiola.ttf') format('truetype'); 

}

.Mangiola {
  font-family: "Mangiola",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  background-color: rgb(34, 15, 145);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgba(238, 199, 40, 0.944);
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
